$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #6E73AD;
$secondary_paletteKeyColor: #74758B;
$tertiary_paletteKeyColor: #926B84;
$neutral_paletteKeyColor: #77767D;
$neutral_variant_paletteKeyColor: #777680;
$background: #131318;
$onBackground: #E4E1E9;
$surface: #131318;
$surfaceDim: #131318;
$surfaceBright: #39393F;
$surfaceContainerLowest: #0E0E13;
$surfaceContainerLow: #1B1B21;
$surfaceContainer: #1F1F25;
$surfaceContainerHigh: #2A292F;
$surfaceContainerHighest: #34343A;
$onSurface: #E4E1E9;
$surfaceVariant: #46464F;
$onSurfaceVariant: #C7C5D0;
$inverseSurface: #E4E1E9;
$inverseOnSurface: #303036;
$outline: #91909A;
$outlineVariant: #46464F;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #BDC2FF;
$primary: #BDC2FF;
$onPrimary: #262B61;
$primaryContainer: #3D4279;
$onPrimaryContainer: #E0E0FF;
$inversePrimary: #545A92;
$secondary: #C4C4DD;
$onSecondary: #2D2F42;
$secondaryContainer: #444559;
$onSecondaryContainer: #E1E0F9;
$tertiary: #E7B9D5;
$onTertiary: #45263C;
$tertiaryContainer: #AE859F;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #E0E0FF;
$primaryFixedDim: #BDC2FF;
$onPrimaryFixed: #0F144B;
$onPrimaryFixedVariant: #3D4279;
$secondaryFixed: #E1E0F9;
$secondaryFixedDim: #C4C4DD;
$onSecondaryFixed: #191A2C;
$onSecondaryFixedVariant: #444559;
$tertiaryFixed: #FFD7EF;
$tertiaryFixedDim: #E7B9D5;
$onTertiaryFixed: #2E1126;
$onTertiaryFixedVariant: #5E3C53;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #1A1A21;
$term1: #A676FF;
$term2: #64DCF0;
$term3: #FFDCF3;
$term4: #96AAD7;
$term5: #B0A0EC;
$term6: #9DCEFF;
$term7: #E8D3DE;
$term8: #C3B5C0;
$term9: #CFB3FF;
$term10: #F7FDFF;
$term11: #FFFFFF;
$term12: #CEDCF8;
$term13: #E0D3FF;
$term14: #F8FAFF;
$term15: #E1E0FD;
